@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(233, 47%, 7%);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container{
    width: 950px;
    height: 380px;
    background-color:hsl(244, 38%, 16%);
    display: flex;
    border-radius: 10px;
}

.text{
    width: 55%;
    height: 100%;
    padding: 50px;
}

.tit{
    margin-bottom: 20px;
    padding-right: 50px;
}

.title{
    font-family: 'Lexend Deca', sans-serif;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 35px;
}

.title span{
    color: hsl(277, 64%, 61%);
}

.des{
    padding-right: 60px;
    margin-bottom:70px;
}

.description{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.data{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.ns{
    width: 30%;
}

.ns p{
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

.ns span{
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
    font-size: 10px;
    font-family: 'Inter', sans-serif;
}

.image{
    width: 45%;
    height: 100%;
    background-image: linear-gradient(to bottom,hsl(277, 64%, 61%, 0.4),  hsl(277, 64%, 61%, 0.4)), url(images/image-header-desktop.jpg);
    background-size: 100% 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.attribution{
    margin-top: 20px;
    color: hsl(0, 0%, 100%);
    font-family:  'Inter', sans-serif;
}

a{
    color: hsl(277, 64%, 61%);
    text-decoration: none;
}

@media only screen and (max-width:900px){


    main{
        width: 100%;
        height: 100%;
    }

    .container{
        margin-top: 80px;
        width: 70vw;
        height: 800px;
        flex-direction: column-reverse;
    }

    .text{
        width: 100%;
        height: 60%;
    }

    .tit{
        margin-bottom: 50px;
        padding-right: 0;
    }
    
    .title{
        text-align: center;
    }
    
    .des{
        padding-right: 0;
    }
    
    .description{
        text-align: center;
    }

    .data{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .ns{
        width: 33.33%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .image{
        width: 100%;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 0;
    }
    
    .attribution{
        margin-bottom: 80px;
        font-size: 12px;
    }
}

@media only screen and (max-width:375px){
    .container{
        width: 90vw;
        height: 900px;
    }

    .text{
        height: 70%;
        padding: 30px;
    }

    .image{
        height: 30%;
        background-image: linear-gradient(to bottom,hsl(277, 64%, 61%, 0.4),  hsl(277, 64%, 61%, 0.4)), url(images/image-header-mobile.jpg);
    }

    .tit{
        margin-top: 30px;
        margin-bottom: 30px;
        padding-right: 0;
    }
    
    .title{
        font-size: 30px;
    }
    
    .des{
        margin-bottom:50px;
    }
    
    .description{
        padding: 5px;
        text-align: center;
        letter-spacing: 0.4px;
        line-height: 22px;
    }

    .data{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .ns{
        width: 100%;
        margin-bottom: 40px;
    }
    
    .ns p{
        font-size: 30px;
    }
    
    .ns span{
        font-size: 14px;
    }
}